<?xml version="1.0" encoding="utf-8"?>
<LumbracoIndexSet xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <IndexSets>
    <IndexSet DocumentType="Product">
      <IndexFields>
        <IndexField FieldName="productName" IndexType="NOT_ANALYZED" StorageType="YES" TermVector="NO" FieldType="System.String" />
        <IndexField FieldName="casName" IndexType="NOT_ANALYZED" StorageType="YES" TermVector="NO" FieldType="System.String" />
      </IndexFields>
    </IndexSet>
    <IndexSet DocumentType="Flower">
      <IndexFields>
        <IndexField FieldName="productName" IndexType="NOT_ANALYZED" StorageType="YES" TermVector="NO" FieldType="System.String" />
        <IndexField FieldName="casName" IndexType="NOT_ANALYZED" StorageType="YES" TermVector="NO" FieldType="System.String" />
      </IndexFields>
    </IndexSet>
  </IndexSets>
</LumbracoIndexSet>