<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="LumbracoIndexSet" type="Lumbraco.Configuration.IndexConfiguration, Lumbraco"/>
  </configSections>

  <LumbracoIndexSet>
    <IndexSets>
      <IndexSet DocumentType="Product">
        <IndexFields>
          <IndexField FieldName="productName" IndexType="NOT_ANALYZED" StorageType="YES" TermVector="NO" FieldType="System.String"></IndexField>
          <IndexField FieldName="casName" IndexType="NOT_ANALYZED" StorageType="YES" TermVector="NO" FieldType="System.String"></IndexField>
          <IndexField FieldName="catName" IndexType="NOT_ANALYZED" StorageType="YES" TermVector="NO" FieldType="System.String"></IndexField>
        </IndexFields>
      </IndexSet>
      <IndexSet DocumentType="Flower">
        <IndexFields>
          <IndexField FieldName="productName" IndexType="NOT_ANALYZED" StorageType="YES" TermVector="NO" FieldType="System.String"></IndexField>
          <IndexField FieldName="casName" IndexType="NOT_ANALYZED" StorageType="YES" TermVector="NO" FieldType="System.String"></IndexField>
          <IndexField FieldName="catName" IndexType="NOT_ANALYZED" StorageType="YES" TermVector="NO" FieldType="System.String"></IndexField>
        </IndexFields>
      </IndexSet>
    </IndexSets>
  </LumbracoIndexSet>
</configuration>

